
    body{
    text-align: center;
    background-color: #f0f0f0;
    
}
    img{
            border-radius: 10px;
            border: 2px solid black;
            margin: auto;
            margin-top: 20px;
            
}
    iframe{
            position: absolute;
            width: 250px;
            height: 140px;
            left: 25px;
            
}
    #Lista{
        text-align: left;
        margin-left: 680px;
        color: white;
        padding: 20px;
        background-color: black;
        width: 180px;
    }

