body{
    background-color:  #C3B091;
}

img{
     /*POSIÇÃO*/
    position: absolute;
    left: 0%;
    right: 57.64%;
    top: 0%;
    bottom: 0%;
}

#Titulo{
     /*POSIÇÃO*/
    height: 52px;
    width: 512px; 
    margin-left: 650px;
    margin-top: 100px;
}

#explicação{
     /*POSIÇÃO*/
    width: 512px;
    height: 114px;
    margin-left: 640px;
}

#Dorminhoco{
     /*POSIÇÃO*/
    position: absolute;
    left: 48.75%;
    right: 8.68%;
    top: 52.79%;
    bottom: 36.53%;
}

#Preguiçoso{
     /*POSIÇÃO*/
    position: absolute;
    left: 74.75%;
    right: 8.68%;
    top: 52.79%;
    bottom: 36.53%;
}

#exDorminhoco{
    /*POSIÇÃO*/
    position: absolute;
     left: 48.75%;
    right: 8.68%;
    top: 57.79%;
    bottom: 36.53%;
     /*TIPOGRAFIA*/
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
}

#exPreguiçoso{
     /*POSIÇÃO*/
     position: absolute;
     left: 74.75%;
     right: 8.68%;
     top: 57.79%;
     bottom: 36.53%;
     /*TIPOGRAFIA*/
     font-family: Arial;
     font-size: 11px;
     font-weight: 400;
     line-height: 18px;
     letter-spacing: 0px;
     text-align: left;
}

#Independente{
         /*POSIÇÃO*/
         position: absolute;
         left: 48.75%;
         right: 8.68%;
         top: 73.79%;
         bottom: 36.53%;
}

#Arisco{
     /*POSIÇÃO*/
     position: absolute;
     left: 74.75%;
     right: 8.68%;
     top: 73.79%;
     bottom: 36.53%;
}

#exIndependente{
    /*POSIÇÃO*/
    position: absolute;
    left: 48.75%;
    right: 8.68%;
    top: 78.79%;
    bottom: 36.53%;
    width: 300px;
    /*TIPOGRAFIA*/
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
}

#exArisco{
    /*POSIÇÃO*/
    position: absolute;
    left: 74.75%;
    right: 8.68%;
    top: 78.79%;
    bottom: 36.53%;
    /*TIPOGRAFIA*/
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;   
}
